#button{
    -fx-background-color:#183640;
    -fx-font-size:17px;
    -fx-text-fill:white;
}

#button:hover{
    -fx-background-color:#0b2b36;
}
.label{
    -fx-font-family: "Raleway";
}
#search_button{
    -fx-background-color:#132f38;
    -fx-font-size:15px;
    -fx-text-fill:white;
}

#search_button:hover{
    -fx-background-color:#183640;
}

#parameters-label-names{
    -fx-font-size:15px;
    -fx-text-fill:white;
}

#title-panels{
    -fx-background-color:#071a21;
}
#mainAnchorPane{
   -fx-background-color:#e5e5e5;  
}

#mainPanel{
    -fx-background-color:#183640;
}

#parametersBG{
    -fx-background-color:#183640;
}
#parametersPanel{
    -fx-background-color:#132f38;
}

#slidePane{
    -fx-background-color:#183640;
}
#top-panel{
    -fx-background-color:#132f38;
}

#main_panel{
    -fx-background-color:#deebf8;
}
#label-table-view{
    -fx-font-size:20px;
}

#list-view-panel{
    -fx-background-color: linear-gradient(#f5f5f5, #d5d1d8);
    -fx-border-color: rgba(0, 0, 0, 0.18);
    -fx-border-width: 0.5px;
}


#label{
    -fx-font-size:20px;
    -fx-text-fill:white;
}
#open-slide-button:hover{
    -fx-background-color:#375660;
}

#default-button {
     -fx-background-color:#375660;
     -fx-font-size:15px;
     -fx-text-fill:white;
}
#default-button:hover {
     -fx-background-color:#132f38;
}
#dbTable{
    -fx-font-size: 16;
}