#button{
    -fx-background-color:#183640;
    -fx-text-fill:white;
    -fx-font-size:18px;
}

#button:hover{
    -fx-background-color:#0b2b36;
}
.label{
    -fx-font-family: "Raleway";
}
#search_button{
    -fx-background-color:#132f38;
    -fx-text-fill:white;
    -fx-font-size:15px;
}

#search_button:hover{
    -fx-background-color:#183640;
}

#parameters-label-names{
    -fx-text-fill:white;
    -fx-font-size:15px;
}

#title-panels{
    -fx-background-color:#071a21;
}
#mainAnchorPane{
   -fx-background-color:#e5e5e5;  
}

#mainPanel{
    -fx-background-color:#183640;
}

#parametersBG{
    -fx-background-color:#183640;
}
#parametersPanel{
    -fx-background-color:#132f38;
}

#slidePane{
    -fx-background-color:#183640;
}
#top-panel{
    -fx-background-color:#132f38;
}

#main_panel{
    -fx-background-color:#deebf8;
}

#label{
    -fx-font-size:26px;
    -fx-text-fill:white;
}
#open-slide-button:hover{
    -fx-background-color:#375660;
}

#default-button {
     -fx-background-color:#375660;
     -fx-text-fill:white;
     -fx-font-size:15px;
}
#default-button:hover {
     -fx-background-color:#132f38;
}